* {
	margin: 0;
	padding: 0;
}

*:link,
*:visited,
* {
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
     //1 rem=9px, 9/16 =56.25%


}

body {
	line-height: 1.6;
	font-family: inherit;
}
